@charset "UTF-8";

body{
    background-color: #24292e;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #262626,#0D0D0D );
    background-attachment: fixed;

}

h1{
    color:  #F2E9D8;
}

h1#principal{
    text-align: center;
   
    color: #8C6F5E;
}

h2{
    color: #8C6F5E;
}

p{
    color: #ffff;
}

.basico{
    color: #8C6F5E;
    font-weight: bold;
}

.avancado{
    color: #8C6F5E;
}

.intermediario{
    color: #8C6F5E;
}

